@using Raft.Data.Models

<div class="card">
    <div class="card-body">
        <p><strong>Username:</strong> @OrderInfo.Username</p>
        <p><strong>Order ID:</strong> @OrderId</p>
        <p><strong>Status:</strong> @Status</p>
        <h6>Products:</h6>
        <ul class="list-group">
            @foreach (var product in OrderInfo.Products)
            {
                <li class="list-group-item">@product.Name - @product.Price.ToString("C")</li>
            }
        </ul>
        <div class="d-flex justify-content-between mt-2">
            <div class="my-auto"><strong>Total: </strong> @OrderInfo.Products.Sum(p => p.Price).ToString("C")</div>
            @if (Action != null)
            {
                @Action
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Guid OrderId { get; set; }

    [Parameter, EditorRequired]
    public string Status { get; set; }

    [Parameter, EditorRequired]
    public OrderInfo OrderInfo { get; set; }

    [Parameter]
    public RenderFragment? Action {get; set;}
}